services:
  db:
    image: postgres:16-alpine
    container_name: see_var_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: see_var_app
    command: "./bin/rails server -b 0.0.0.0"
    volumes:
      - .:/rails
    environment:
      DATABASE_URL: postgresql://postgres:${DB_PASSWORD}@db:5432/see_var_development
      RAILS_ENV: development
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  postgres_data:
